html{
  width:100%;
}
body {
  font: 14px Helvetica, Arial, sans-serif;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  height:auto;
}

body a,p,input,button,textarea,h1,h2,h3,h4,h5,h6,div{
  font-family: "Helvetica" !important;
}


.clientsContainer.mobile header{
  padding:5px 20px;
  height:70px;
}
.clientsContainer.mobile header h3{
  color:white;
  display: inline-block;
  width:auto;
  height:100%;
  float: left;
  margin-left:10px;
  margin-top:10px;
  padding-top:10px;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
}
.clientsContainer.mobile header h3:hover{
  color:rgb(66,15,47);
  background-color:white ;
  cursor: pointer;
  padding-top:7px;
}
.clientsContainer.mobile header h3.clicked{
  padding-top:0;
}
.clientsContainer.mobile .listHeader{
  text-align: left;
  display: block;
}
.clientsContainer.mobile .listHeader h3{
  color:white;
  display: inline-block;
  width:auto;
  height:100%;
  float: left;
  margin-left:0;
  margin-top:10px;
  left:0;
  top:0;
 }
.clientsContainer.mobile .listHeader h3:first-child{
  float:left;
  clear: left;
}
.clientsContainer.mobile .listHeader .right{
  float:right;
  clear: right;
  margin-top:-10px;
  margin-right:70px;
}
.clientsContainer.mobile header .right{
  float: right;
  margin-top:10px;
}
.clientsContainer.mobile header .buttons,.clientsContainer.mobile .listHeader .buttons{
  width:60px;
  height:auto;
  position: absolute;
  right:2px;
  display: inline-block;
}
.clientsContainer.mobile header .buttons .more,.clientsContainer.mobile .listHeader .buttons .assign{
  width:38px ;
  height:38px;
  top:5px;
}
.clientsContainer.mobile .listHeader{
  background-color: rgb(215,62,57);
  margin-top:-10px;
  color:white;
  padding:5px 20px;
  height:60px;
  -webkit-border-bottom-right-radius:0;
  -webkit-border-bottom-left-radius:0;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-bottomright:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
.clientsContainer.mobile,.clientsContainer.mobile .filesList{
  padding:0;
  width:100%;
  margin-top:-10px;
  border:0;
  font-size:25px;
  height:auto;
}
.filesList{
  width:100%;
  left:0;
  margin:0;
  padding:0;
  color:white;
  height: auto;
  text-align: left;
}
.mobile .filesList .eachAd{
  min-height:125px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  width:100%;
  left:0;
  margin:0;
  border-left:0;
  border-right:0;
  border-bottom:0;
  padding:5px;
  padding-top:20px;
  margin-bottom:5px;
  color:white;
  text-align: center;
}
.eachAd:hover,.eachClient:hover{
    cursor: pointer !important;
}

.mobile .filesList .eachAd p{
  font-size:22px ;
  line-height:30px ;
  margin-top:-15px;
}
.mobile .filesList .eachAd .plays{
  line-height:50px;
}
.mobile .filesList .eachAd img{
  height:100px;
  margin-top:-10px;
}

.mobile .filesList .eachAd .buttons{
  position: absolute;
  right:0;
  top:50%;
}
.mobile .filesList .eachAd .buttons button{
  width:40px ;
  height:40px;
  margin:0;
}
header{
  margin:0;
  background-color: rgb(215,62,57);
  height:70px;
  width:100%;
  top:0;
  left:0;
  padding:20px 0px 20px;
  text-align: center;
}
header a{
  position: relative;
  display: inline-block;
  margin-left:0px;
  color:White;
  font-size:25px;
  width:auto;
  height:auto;
  line-height:45px;
  padding:5px 20px 10px 20px;
  -webkit-border-top-right-radius:12px;
  -webkit-border-top-left-radius:12px;
  -moz-border-radius-topright:12px;
  -moz-border-radius-topleft:12px;
  border-top-right-radius:12px;
  border-top-left-radius:12px;
}
header a:hover{
  background-color: rgb(66,15,47);
  color:white;
  text-decoration: none;
  font-weight: 500;
}
header a:empty{
  display: none;
}
.container{
  position: relative;
  display: block;
  background-color: #ececec;
  width:100% !important;
  height:auto;
  padding:25px 0px !important;
}

.container div{
  position: relative;
  height:auto;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
  padding:0;

}
.container .filesContainer{
  width:80%;
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  display: none;
  float:inherit;
}
.container .clientsContainer{
  display: block;
  max-width:600px;
  width:98%;
  height:auto;
}
.container #clientsList{
  float: left;
  margin-left:5%;
}
.container #addsList{
  float: right;
  margin-right:5%;
}
@media screen and (max-width:1185px){

  .container .clientsContainer{
    max-width:630px;
  }
  .container #addsList{
    float: left;
    margin : 20px auto;
  }
  .container #clientsList{
    margin : 20px auto;
  }
  .container #addsList,.container #clientsList {
    margin-left:auto;
    margin-right:auto;
    position: relative;
    display: block;
    float:inherit;
  }
}
.container div header{
  position: relative;
  display: block;
  background-color: rgb(66,15,47);
  width:100%;
  height:60px;
  left:0;
  -webkit-border-top-right-radius:12px;
  -webkit-border-top-left-radius:12px;
  -moz-border-radius-topright:12px;
  -moz-border-radius-topleft:12px;
  border-top-right-radius:12px;
  border-top-left-radius:12px;
  padding:0;
  margin:0;
}
.container .filesContainer div{
  width:100%;
  height:auto;
  position: relative;
  padding:10px 20px;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
}
.container div .filesList{
  position: relative;
  width:100%;
  padding: 20px 50px;
  border:2px solid rgb(66,15,47);
  height:100%;
  -webkit-border-top-right-radius:12px;
  -webkit-border-top-left-radius:12px;
  -moz-border-radius-topright:12px;
  -moz-border-radius-topleft:12px;
  border-top-right-radius:12px;
  border-top-left-radius:12px;
  background-color: rgb(215,62,57);
  list-style-type: none;
  margin-top:-10px;
}

.container div .filesList li{
  position: relative;
  min-height:150px;
  height:auto;
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
  border:2px solid white;
  padding:10px 20px;
  margin:20px 5px;
  text-align: left;
  vertical-align: top;
}
.container div .filesList li:hover{
  background-color:rgb(200,47,42);
  border-color:rgb(66,15,47);
}
.container div .filesList li img{
  position: relative;
  height:auto;
  width: auto;
  display: block;
  text-align: left;
  margin:0 5px;
  border:0;
  float: left;
  clear: left;
  top:0;
}
.container div .filesList li img:hover{
  border-color:rgb(66,15,47);
}
.container div .filesList p,.container div .filesList .buttons{
  position: relative;
  float:left;
  display: inline-block;
  margin:5px 5px;
}
.container div .filesList p{
  color:white;
  font-size:24px;
  line-height:45px;
  height:auto;
  float: left;
}
.container div .filesList p.plays{
  float: left;
  clear: right;
}

.container div .filesList .buttons{
  width:auto;
  min-width:260px;
  right:0;
  position: absolute;
  top:60%;
  transition: transform;
  -webkit-transform: translateY(-60);
  -moz-transform: translateY(-60);
  -ms-transform: translateY(-60);
  -o-transform: translateY(-60);
  transform: translateY(-60);
}
.buttons button{
  position: relative;
  display: inline-block;
  float: right;
  min-height:30px;
  height:45px;
  top:0;
  width:50px;
  border-radius: 20px;
  padding:5px;
  background-color:transparent;
  border:0;
  outline:none;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin:0 5px;
}
.buttons button:hover{
  background-color:rgb(66,15,47);
}


.more2{
  background-image: url("../images/icons/asansor-04.svg");
}
.play{
  background-image: url("../images/icons/play.svg");
}
.right-arrow{
  background-image: url("../images/icons/right-arrow.svg");
}
.right-arrow:hover{
  background-color: rgb(200,47,42) !important;
}
.uncheck{
  background-image: url("../images/icons/unchecked.svg");
  background-size:100% 100% !important;
  background-position: center;
  border-radius: 0 !important;
  padding: 0 !important;
}
.uncheck:hover{
  background-color:rgb(66,15,47) !important;
}

.remove{
  background-image: url("../images/icons/asansor-03.svg");
}
.assign{
  background-image: url("../images/icons/asansor-05.svg");
}
.more{
  background-image: url("../images/icons/asansor-06.svg");
}
.upload{
  background-image: url("../images/icons/upload.svg");
}
.container .filesContainer header{
  padding:1px 60px;
  display: block;
}
.container .filesContainer header h2{
  position: relative;
  height:100%;
  width:auto;
  display: inline-block;
  color:White;
  top:0;
  line-height:100%;
  float: left;
}
.container .filesContainer header .button{
  width:200px;
  height:45px;
  position: relative;
  display: inline-block;
  float: right;
  top:0;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  background-color: rgb(215,62,57);
  outline:none;
  font-size:25px;
  color:white;
}

.container .filesContainer header .button:hover{
  background-color: rgb(200,47,42);
  border-color:rgb(66,15,47);
}
.container .clientsContainer.mobile.mobile1 header{
  height:50px;
}
.container .clientsContainer.mobile.mobile1 .clientsHeader{
  height:50px;
  top:50px;
  width:100%;
  position: absolute;
  background-color: rgb(215,64,57);
  float: left;
  z-index:100000000;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border-bottom:2px solid #ececec;
  padding:5px;
  color:white;
  display: none;
}
.container .clientsContainer.mobile.mobile1 .clientsHeader h3{
  float: left;
  display: inline-block;
  clear: left;
  color:white;
  margin-top:5px;
  margin-left:10px;
}
.container .clientsContainer.mobile.mobile1 .clientsHeader .buttons{
  display: block;
  position: absolute;
  float: right;
  right:0;
  clear: right;
  padding:5px;
  height: 50px;
  top:0;
  width:90px;
}
.container .clientsContainer.mobile.mobile1 .clientsHeader .buttons button{
  margin:-2px 0 5px;
}
.container .clientsContainer.mobile.mobile1 header h3{
  float: left;
  display: inline-block;
  margin-left:-5px;
  margin-top:0px;
  clear: left;
}

.container .clientsContainer.mobile.mobile1 header img{
  width:40px;
  height:40px;
  position: relative;
  float: right;
  display: inline-block;
  margin-right:10px;
}
.container .clientsContainer.mobile.mobile1 header input{
  float: right;
  display: inline-block;
  position: relative;
  clear: right;
  background-color:transparent;
  color:white;
  font-size:24px;
  width:200px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  padding: 2px 5px;
}
.container .clientsContainer.mobile.mobile1 header input:focus{
  outline:none;
}
.container .clientsContainer.mobile .clientsList{
  display: block;
  height:auto;
  position: relative;
  width:100%;
  background-color: rgb(215,62,57);
  list-style-type: none;
  padding:0;
  margin:0;
  -webkit-border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  -moz-border-radius-bottomright:12px;
  -moz-border-radius-bottomleft:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
}
.container .clientsContainer.mobile .clientsList li{
  background-color: transparent;
  height:70px;
  padding:5px 15px;
  border-top:2px solid white;
  margin:0;
  display: block;
  text-align: right;
  vertical-align: top;
  -webkit-border-bottom-right-radius:12px;
  -webkit-border-bottom-left-radius:12px;
  -moz-border-radius-bottomright:12px;
  -moz-border-radius-bottomleft:12px;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
}
.container .clientsContainer.mobile .clientsList li .buttons.check{
  position: absolute;
  right:0;
  z-index: 10000;
  background-image: url("../images/icons/check.svg");
  background-size:100% 100% !important;
  width:40px;
  height:40px;
  border:0;
  outline:none;
  background-color:transparent;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size:100%;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  border-radius:20px;
  display: none;
}
.container .clientsContainer.mobile .clientsList li .buttons.uncheck{
  position: relative;
  right:0;
  float: right;
  clear: right;
  background-image: url("../images/icons/unchecked.svg");
  background-size:80% 80% !important;
  width:50px;
  height:50px;
  border:0;
  outline:none;
  background-color:transparent;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-border-radius:20px !important;
  -moz-border-radius:20px !important;
  border-radius:20px !important;
  padding:50px;
}
.container .clientsContainer.mobile .clientsList li .select,.container .clientsContainer.mobile .filesList li .select{
  display: none;
  position: absolute;
  margin:0;
  padding:0;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(30,30,30,0.5);
  z-index: 100000;
}
.container .clientsContainer.mobile .clientsList li .select.check,.container .clientsContainer.mobile .filesList li .select.check{
  background: rgba(230,230,230,0.6);
    display: block;

}
.container .clientsContainer.mobile .clientsList li .select.uncheck,.container .clientsContainer.mobile .filesList li .select.uncheck{
  background: rgba(44,44,44,0.6);
  display:block;
}
.container .clientsContainer.mobile .clientsList li:hover{
  background-color:rgb(66,15,47);
  cursor: pointer;
  color:white;
}
.container .clientsContainer.mobile .clientsList li h3{
  position: relative;
  display: inline-block;
  width:auto;
  color:white;
  float:left;
  clear:left;
  padding:0;
  top:20px;
  margin:0;
  line-height:100%;
  height:0;
}
.container .clientsContainer.mobile .clientsList li:first-child h3{
  top:10px;
}
.container .clientsContainer.mobile.mobile1 .clientsList li .right{
  float: right;
  display: inline-block;
}
.container .clientsContainer.mobile.mobile1 .clientsList li .right-arrow{
  display: none;
  position: relative;
  float: right;
  clear: right;
  display: inline-block;
  width:45px;
  height:45px;
  top:10px;
  right:-20px;
  border-radius: 20px;
  padding:5px;
  background-color:transparent;
  border:0;
  outline:none;
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin:0 5px;
}
.container .clientsContainer.mobile .clientsList li:first-child .right-arrow{
  top:0;
}

.uploadList{
  display: none;
  position: fixed;
  z-index: 999;
  width:50%;
  max-width:800px;
  top:20%;
  left:25%;
  min-width:400px;
  transition: transform;
  -webkit-transform: translate(-50,-20);
  -moz-transform: translate(-50,-20);
  -ms-transform: translate(-50,-20);
  -o-transform: translate(-50,-20);
  transform: translate(-50,-20);
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  background-color: rgb(200,47,42);
  height:auto;
  min-height:300px;
  padding: 0;
  margin:0;
  font-size:25px;
  color:white;
}
@media screen and (max-width:768px){
  .uploadList{
    left:0;
    width:100%;
  }
}
.uploadList header{
  padding:10px;
  height:55px;
  font-size:24px;
  line-height:32px;
  position: relative;
  display: inline-block;
  width:100%;
  margin:0;
  top:0;
  -webkit-border-top-right-radius:15px;
  -webkit-border-top-left-radius:15px;
  -moz-border-radius-topright:15px;
  -moz-border-radius-topleft:15px;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  background-color:rgb(66,15,47);
  color:white;
  text-align: left;
}
.uploadList div{
  position: relative;
  display: block;
  margin:0;
  padding:5px;
  background-color:white;
}
#closeUploadList{
  background-size:90% 90%;
  background: transparent url('../images/icons/asansor-03.svg') no-repeat center;
  width:35px;
  height:35px;
  display: block;
  position: absolute;
  top:5px;
  right:5px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  z-index:10000;
  outline:none;
}
#fineUploader{
  -webkit-border-radius:12px;
  -moz-border-radius:12px;
  border-radius:12px;
  margin-top:-10px;
}

#allAds.left,#clientAdds.left{
  float :left;
  margin-left:-10px;
  top:0;
  margin-top:-1px;
  background-color:white;
  padding:10px 20px;
  color:rgb(66,15,47);
  height:auto;
}
#clientAdds.right,#allAds.right{
  float: right;
  top:0;
  margin-top:-1px;
  background-color: transparent;
  padding:10px 20px;
  margin-right:50px;
    height:auto;
}
#clientAdds.right,#allAds.right:hover{
    color:rgb(66,15,47);
    background-color:white;
}
.listHeader .buttons .doAssign,.clientsHeader .buttons .doAssign{
  background-color:transparent ;
  background-image: url('../images/icons/check.svg');
  background-size:100% 100%;
  background-position: center;
  position: absolute;
  top:0;
  z-index: 100000;
  display: block;
  right: 0;
  margin-right: -50px !important;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  border-radius:40px;
}
.listHeader .buttons .doAssign:hover,.clientsHeader .buttons .doAssign:hover{
  background-color:white;
  border:2px solid red;
}
.clientsHeader .buttons .cancelClients{
  background-color:transparent;
  background-image: url('../images/icons/cancel.svg');
  background-size:90% 90%;
  background-position: center;
  left:10px;
  top:0;
  z-index: 100001;
  margin-right:10px !important;
  display: block;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  border-radius:40px;
}
.clientsHeader .buttons .cancelClients:hover{
  background-color:white;
  border:2px solid red;
}
.listHeader .buttons .cancelAds{
  background-color:transparent;
  background-image: url('../images/icons/cancel.svg');
  background-size:90% 90%;
  background-position: center;
  left:10px;
  top:0;
  margin-right:10px !important;
  z-index: 100001;
  display: block;
  -webkit-border-radius:40px;
  -moz-border-radius:40px;
  border-radius:40px;
}
.listHeader .buttons .cancelAds:hover{
  background-color:white;
  border:2px solid red;
}
#dlgBox{
  position: fixed;
  width:80%;
  left:10%;
  height:auto;
  min-height: 100px;
  background-color:#bababa;
  border:2px solid black;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  color:black;
  vertical-align: top;
  font-size:24px;
  list-style-type: disc;
  padding:50px;
  margin:0;
  top:15%;
  display: none;
  z-index:99999999;
  text-align: center;
}
#dlgBox li{
  position: relative;
  margin:2px;
  width:100%;
  left:5%;
  padding:10px;
  font-size:24px;
  line-height:27px;
  text-align: left;
}
#dlgBox #listClose{
  width:100px;
  height:60px;
  color:white;
  background-color:black;
  font-weight: bold;
  text-align: center;
  position: relative;
  clear: both;
}

